@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap");

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Lexend Deca", sans-serif;
  background-color: #f3f5f7;
}

.container-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
}

@media screen and (max-width: 767px) {
  .container-cards {
    padding: 1rem;
  }
}
