.nav-bar {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(
    90deg,
    rgba(57, 57, 213, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: azure;
}
.text-reference {
  text-decoration: none;
  color: azure;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  margin-top: 1.5rem;
}

.header-titles {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 915px) {
  .header-titles {
    justify-content: space-around;
  }
}
